# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.2D-Platformer-Tutorial.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Kufo\2D-Platformer-Tutorial\.idea\.idea.2D-Platformer-Tutorial.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
